# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
contracts/broadcast/
contracts/cache/
**/broadcast/
**/cache/

# Docs
docs/

# Dotenv file
.env
